form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  max-width: 340px;
  min-width: 280px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #cfcfcf;
}

.warning,
.success {
  color: #3da536;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 0rem;
}

.warning {
  color: rgb(236, 47, 47);
}

form input {
  padding: 0.5rem;
  border-radius: 15px;
  border: 1px solid #ccc;
}

form button {
  font-family: inherit;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  background-color: #3da536;
  color: #fff;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #2b8a3e;
}

.dark form {
  background-color: #2b3035; /* Cambio al color oscuro */
  color: #fff; /* Texto en blanco */
}

.dark form input,
.dark form button {
  background-color: #43464b; /* Fondo de los inputs y botones */
  color: #fff; /* Texto en blanco */
  border: 1px solid #43464b; /* Borde de los inputs y botones */
}

.dark form button:hover {
  background-color: #303338; /* Cambio de color en el hover */
}
